@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat+Alternates&family=Raleway&family=Roboto&family=Ubuntu&display=swap');

html {
  width: auto;
  min-height: 100%;
}

header {
  background-size: cover;
  background-attachment: fixed;
}

nav {
  font-family: 'Raleway', sans-serif;
  height: auto;
  background-color: #34344c;
  position: fixed;
  top: 0;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

#nav1 a:hover {
  color: #DCDCDC;
}

#nav2 {
  background-color: #FFFFFF;
  font-size: 18px;
}

#nav2 a {
  color: #000000;
  margin-left: 1rem;
}

#nav2 a:hover {
  color: #9932CC;
}

#authorization {
  font-size: 13px;
  width: auto;
  margin-right: 1rem;
}

#registration {
  font-size: 13px;
  width: auto;
}

#myModal {
  font-family: 'Raleway', sans-serif;
  background: #200122;
  background: -webkit-linear-gradient(to bottom, #A52A2A, #330d36);
  background: linear-gradient(to bottom, #A52A2A, #330d36);
  padding: 60px 50px;
  position: relative;
}

.modal-content {
  background-color: #F8F8FF;
}

.form-group {
  font-size: 17px;
  font-weight: bold;
}

label {
  margin-left: 1rem;
}

.form-control {
   background-color: #C0C0C0;
   height: 40px;
   border-radius: 30px;
   padding: 0 20px;
   font-size: 17px;
   font-weight: bold;
}

#exampleCheck {
  margin-left: 0.01rem;
}

.btn {
   width: 100%;
   background: #9932CC;
   padding: 7px 14px;
   border: none;
   font-size: 14px;
   font-weight: bold;
   color: #fff;
   border-radius: 20px;
   text-transform: uppercase;
}

main {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.body_slides {
  background: #000;
}

.body_slides, .body_slides:after {
  position: absolute;
  width: 100%;
  height: 100%;
}

.body_slides li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-animation: anim_slides 18s linear infinite 0s;
  -moz-animation: anim_slides 18s linear infinite 0s;
  -o-animation: anim_slides 18s linear infinite 0s;
  -ms-animation: anim_slides 18s linear infinite 0s;
  animation: anim_slides 18s linear infinite 0s;
}

.body_slides li:nth-child(2){
  -webkit-animation-delay: 6.0s;
  -moz-animation-delay: 6.0s;
}

.body_slides li:nth-child(3){
  -webkit-animation-delay: 12.0s;
  -moz-animation-delay: 12.0s;
}

@-webkit-keyframes anim_slides {
  0% { opacity:0; }
  6% { opacity:1; }
  24% { opacity:1; }
  30% { opacity:0; }
  100% { opacity:0; }
}
@-moz-keyframes anim_slides {
  0% { opacity:0; }
  6% { opacity:1; }
  24% { opacity:1; }
  30% { opacity:0; }
  100% { opacity:0; }
}

.holder {
  position: relative;
  width: 256px;
  height: 144px;
}

.block {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(255,255,255, 0.7);
  padding: 5px;
  display: none;
}

.holder:hover .block{
  display: block;
}

#carouselExampleIndicators {
  width: auto;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  float: left;
  width: 33%;
  height: 10px;
  margin: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
}

ol.carousel-indicators li.active {
  background: #808080;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 50px;
}

body {
  height: 100%;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

footer {
  font-family: 'Raleway', sans-serif;
  background: #15151e;
  color: #fff;
}
