@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat+Alternates&family=Raleway&family=Roboto&family=Ubuntu&display=swap');

html {
  width: auto;
  min-height: 100%;
}

header {
  background-size: cover;
  background-attachment: fixed;
}

nav {
  font-family: 'Raleway', sans-serif;
  height: auto;
  background-color: #34344c;
  position: fixed;
  top: 0;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

#nav1 a:hover {
  color: #DCDCDC;
}

#nav2 {
  background-color: #FFFFFF;
  font-size: 18px;
}

#nav2 a {
  color: #000000;
  margin-left: 1rem;
}

#nav2 a:hover {
  color: #9932CC;
}

#authorization {
  font-size: 13px;
  width: auto;
  margin-right: 1rem;
}

#registration {
  font-size: 13px;
  width: auto;
}

#myModal {
  font-family: 'Raleway', sans-serif;
  background: #200122;
  background: -webkit-linear-gradient(to bottom, #A52A2A, #330d36);
  background: linear-gradient(to bottom, #A52A2A, #330d36);
  padding: 60px 50px;
  position: relative;
}

.modal-content {
  background-color: #F8F8FF;
}

.form-group {
  font-size: 17px;
  font-weight: bold;
}

label {
  margin-left: 1rem;
}

.form-control {
   background-color: #C0C0C0;
   height: 40px;
   border-radius: 30px;
   padding: 0 20px;
   font-size: 17px;
   font-weight: bold;
}

#exampleCheck {
  margin-left: 0.01rem;
}

.btn {
   width: 100%;
   background: #9932CC;
   padding: 7px 14px;
   border: none;
   font-size: 14px;
   font-weight: bold;
   color: #fff;
   border-radius: 20px;
   text-transform: uppercase;
}

main {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

body {
  height: 100%;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

footer {
  font-family: 'Raleway', sans-serif;
  background: #15151e;
  color: #fff; 
  /* margin-top: 10rem; */
}
