@page
@model SemestreWork.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<!-- main -->
<main class="main align-self-center">
    <div class="container">
        <div class="row">

            <div class="col-2"></div>

            <div class="col-8">
                <h2 align="middle">О проекте</h2>
                <hr>
                <div class="card">
                    <img src="img/forAboutUs.jpeg" alt="Dota 2" width="100%">
                    <div class="card-body">
                        <h4>Что такое AnyMeta?</h4>
                        <p>
                            AnyMeta - это место, где игроки по Dota 2 получают новости об игре,
                            подробную статистику, делятся своими новостями, профилями,
                            и лучше понимают игру, которую мы все любим.
                        </p>

                        <h4>Разделы</h4>
                        <p>
                            Функционал AnyMeta широк. Информация на сайте часто обновляется,
                            что делает его информативным ресурсом по Dota 2.
                            На сайте имеется несколько разделов, которые созданы
                            для удобства поиска нужной информации.
                        </p>

                        <h4>Мета</h4>
                        <p>
                            Мета в Дота 2 – это определенные действия, которые используются большинством
                            игроков для достижения победы в данный момент времени. Она распространяется
                            как на использование определенных героев, так аи на покупаемые предметы.
                            На нашем сайте можно изучить последние мета-отчёты.
                        </p>

                        <h4>Герои</h4>
                        <p>
                            Раздел "Герои" включает в себя список из 10 героев и информацию о них.
                            Также можно изучить история персонажа и проникнуться его лором.
                        </p>

                        <h4>Киберспорт</h4>
                        <p>
                            В этом разделе пользователь может получить актуальные сведения
                            о текущем профессиональном сезоне в г. Казань, киберспортивных командах и их игроках
                            и о послених матчах на про сцене.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-2"></div>

        </div>
    </div>
</main>
