@page
@model SemestreWork.Pages.HeroesModel
@{
    ViewData["Title"] = "Heroes";
}

<!-- main -->
<main class="main align-self-center" align="middle">

    <!-- Карусель -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 align="middle" style="margin-bottom: 2rem;">История и лор</h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" style="color: red;">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
                    </ol>
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <img class="d-block w-100" src="img/Clinkz_wallpaper.jpg" alt="1 slide">
                            <div class="card">
                                <div class="card-body">
                                    <div align="left">
                                        <h2 align="middle">Clinkz</h2><hr>
                                        <p>
                                            Когда-то верный защитник земель Ховена, Clinkz, заслужил себе репутацию благодаря своему владению луком.
                                            На трехсотый год правления короля-мага демон Мараксиформ восстал из шестого ада, чтобы предъявить свои права на лес.
                                            В ответ король-маг наложил неразрушимое заклинание: тот, кто убьет демона, будет награжден жизнью без конца.
                                            Не подозревающий о заклинании Clinkz вступил в битву, защищая свои земли от пламенной атаки демона.
                                            Лучник заставил отступить Мараксиформа назад, к самым вратам шестого ада, где горящая граница заперла
                                            обоих в смертельном бою. Тут же Clinkz отправил в полет свою последнюю стрелу. Она поразила демона как
                                            раз в тот миг, когда адское пламя излилось по землям, сжигая Clinkz заживо. Заклинание мага вступило в силу,
                                            сохранив его в этом страшном состоянии, пойманном в самом процессе смерти и несущим
                                            дыхание ада в своем путешествии в вечность.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/Underlord_wallpaper.jpg" alt="2 slide">
                            <div class="card">
                                <div class="card-body">
                                    <div align="left">
                                        <h2 align="middle">Underlord</h2><hr>
                                        <p>
                                            Сей рок не предрекала ни одна песнь, ни одна легенда.
                                            Глубоко под поверхностью внешнего мира лежат неведомые чудеса и ужасы. Закованный в земной тверди,
                                            далеко под беспокойными лавовыми полями и подножиями спящих вулканов раскинулся обсидиановый город Азийог,
                                            бесподобная каменная кладка которого простирается по безграничной пещере. В ячеистых стенах, построенных
                                            на костях бесчисленных рабов, лежат территории Орды бездны и её жестокого владыки, Врогроша.
                                            Вооружённый лучшими кузнецами своего вида и обученный управлять самим пространством,
                                            в непрерывной жажде власти он несет пламя и отчаяние в каждый мир, уничтожая или
                                            порабощая всё встреченное. Тем не менее, подземный мир невелик, и потому Врогрош
                                            обратил свой взор ко внешним просторам. Одним своим словом он обрек на погибель легионы
                                            своих разведчиков, отправив тех на растерзание обитателям поверхности, дабы оценить их мощь.
                                            Теперь же, готовый продолжить завоевание, Врогрош лично ступит на освещённую солнцем землю
                                            и провозгласит своё грядущее правление. Те же, кто встретятся ему, падут ниц и выплатят дань
                                            — или умрут на месте.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/Spectre_wallpaper.jpg" alt="3 slide">
                            <div class="card">
                                <div class="card-body">
                                    <div align="left">
                                        <h2 align="middle">Spectre</h2><hr>
                                        <p>
                                            Равно как самая непостижимая энергия всегда стремится к состоянию покоя,
                                            так и Меркуриал, воплощающую неудержимые и жестокие силы, непреодолимо притягивает
                                            к сценам раздора, что возникают в материальном мире. Её обычное спектральное состояние
                                            превосходит пределы восприятия, и каждый раз, обретая физическую форму, она теряет
                                            воспоминания о себе... но не о своей цели. В пылу схватки её личность разбивается
                                            и преображается, и вновь начинается процесс самоосознания. Она быстро вспоминает,
                                            что имя ей — Меркуриал, а заполонившие поле боя призраки — не более чем тени её самой,
                                            единственной и настоящей. В борьбе за выживание приходит концентрация, истинный разум
                                            вновь заявляет о себе, и Меркуриал превосходит материю, вновь и вновь возрождаясь в
                                            своей вечной форме вплоть до последних моментов победы или поражения.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/Zeus_wallpaper.jpg" alt="4 slide">
                            <div class="card">
                                <div class="card-body">
                                    <div align="left">
                                        <h2 align="middle">Zeus</h2><hr>
                                        <p>
                                            Повелитель небес и отец богов видит во всех героях своих буйных, мятежных детей.
                                            Неисчислимы свидания со смертными женщинами, где заставала его супруга. Поставила
                                            богиня бессмертного перед выбором: «Если нравятся смертные, иди и сам стань среди них.
                                            Докажи свою верность, и приму тебя своим мужем бессмертным. Если же нет — иди и умри
                                            средь созданий своих». Согласился с ней бог: неоспоримы были её слова (да и магия тоже).
                                            С тех пор он вёл себя примерно, проявляя к бессмертию чуть больше любви, чем к смертным.
                                            Но чтобы умолить вечную свою супругу, он должен стремиться к победам на поле боя.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/Ogre_Magi_wallpaper.jpg" alt="5 slide">
                            <div class="card">
                                <div class="card-body">
                                    <div align="left">
                                        <h2 align="middle">Ogre Magi</h2><hr>
                                        <p>
                                            Огр обыкновенный — создание, для которого словно придумали выражение «туп как пень».
                                            В обычной своей форме огр решительно неспособен на осмысленный поступок или обоснованное
                                            действие. Обычно покрытый грязью, он может вдруг обнаружить, что завернулся в шкуру падали,
                                            только что ей пообедав. Не намного лучше и его социальные способности — огр частенько нежно
                                            заигрывает с камнем или пнём, которые случайно принял за кого-то из своих (этим зачастую
                                            и объясняют маленький уровень рождаемости у огров). Однако примерно раз в поколение на расу
                                            огров снисходит благословение — рождение двухголового чудотворца, которому сразу же дается
                                            традиционное имя Аггрон Стонбрейк — так звали первого и, возможно, единственного мудрого огра
                                            за всю историю их расы. С двумя головами огр уже способен жить и мыслить на уровне,
                                            для которого многим другим существам хватило бы и одной.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/Arc_Warden_wallpaper.jpg" alt="6 slide">
                            <div class="card">
                                <div class="card-body">
                                    <div align="left">
                                        <h2 align="middle">Arc Warden</h2><hr>
                                        <p>
                                            До начала всего в абсолютной пустоте обитала единая сущность — первородное сознание.
                                            Бесконечное, невероятное, оно следовало лишь своим загадочным целям.
                                            Вместе с громом, ознаменовавшим создание вселенной, раздался и треск: первородное
                                            сознание раскололось. Два самых крупных его осколка, которые много времени спустя
                                            прозовут Светом и Тьмой, открыли друг в друге злейших врагов, и посвятили всё свое
                                            существование полному уничтожению противника.
                                            Война стала угрожать существованию едва зародившегося космоса, и тогда третий осколок
                                            изъявил желание вмешаться. Чистый разум, назвавший себя Зет, хотел прекратить этот хаос
                                            и восстановить единство бытия. Поражённый неизмеримой жестокостью братьев, Зет собрал
                                            все свои силы и одной яркой вспышкой одолел обе враждующие стороны.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/Night_Stalker_wallpaper.jpg" alt="7 slide">
                            <div class="card">
                                <div class="card-body">
                                    <div align="left">
                                        <h2 align="middle">Night Stalker</h2><hr>
                                        <p>
                                            О том, откуда появился Баланар, никто не знает доподлинно; ходят лишь слухи.
                                            Древние сказания каждой расы и культуры повествуют о невообразимом времени,
                                            когда не было ещё дня и солнца, когда миром правила одна только ночь — и населяли
                                            её создания тьмы, подобные Баланару. Говорят, что на рассвете Первого дня все ночные
                                            твари сгинули. Все, кроме одной. Баланар — воплощение зла, и он упивается своей
                                            жестокостью. Именно он стал прообразом разнообразных бабаек и кощеев, и с
                                            незапамятных времён именно его тенью пугали непослушных детей.
                                            Баланар наслаждается такой ролью и играет её в самой полной мере.
                                            Под покровом ночи он ищет опрометчивых и беспомощных — тех, кто отбился от
                                            света и позабыл древние истории. Баланар — живое доказательство того, что с
                                            амый кошмарный сон ребёнка... это совсем не сон.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/Dark_Seer_wallpaper.jpg" alt="8 slide">
                            <div class="card">
                                <div class="card-body">
                                    <div align="left">
                                        <h2 align="middle">Dark Seer</h2><hr>
                                        <p>
                                            Стремительный в час нужды стратег Иш'Кафэль — расчётливый провидец, что обходится'
                                            ' в бою без острых мечей: если нужно уничтожить противника, он полагается на мощь
                                            своего разума, мастерски направляя сражение в нужное русло. Сей воин пришёл из
                                            измерения вне граней реальности, которое он сам называет «миром за стеной».
                                            Когда-то Иш'Кафэль был великим военачальником своего народа и храбрым защитником
                                            святого короля Даматрикса, но в последние дни Великой войны Пределов его войско
                                            пало под натиском превосходящих сил. Поражение было неминуемо, но стратег совершил
                                            отчаянный поступок: он завёл армию врага в лабиринт меж стен. В последний миг
                                            Иш'Кафэль выскользнул из окружения и выпустил сокрушительную волну тёмной энергии,
                                            навеки заточив преследователей в лабиринте.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/Undying_wallpaper.jpg" alt="9 slide">
                            <div class="card">
                                <div class="card-body">
                                    <div align="left">
                                        <h2 align="middle">Undying</h2><hr>
                                        <p>
                                            Как давно он потерял имя? Запустелые руины его разума больше не знают.
                                            Он смутно припоминает доспехи, знамена и угрюмых собратьев, скачущих бок о бок.
                                            Он помнит битву: боль и страх, когда бледные руки сорвали его с седла. Он помнит ужас:
                                            его вместе с соратниками бросили в бездонный зёв Мёртвого бога, где их ждало лишь
                                            небытие в объятиях погребальной песни. В глубокой тьме их покинуло время.
                                            Их покинули мысли. Их покинул разум. Но не голод. Брат поднял на брата ломаные зубы и ногти.
                                            И началось: сначала далёкая, едва слышимая нота, за ней другая, затем еще одна,
                                            и были они неизбежны и нескончаемы. Хор постепенно вырос в сплошную стену звука,
                                            вытеснившую все мысли. Песнь панихиды поглотила воина, и он простёр свои руки к
                                            Мёртвому богу, приняв свою участь. Но ей была отнюдь не смерть. Мёртвый бог
                                            требовал войны. В чреве великой бездны воин получил новое предназначение: нести
                                            по земле погребальную песнь, поднимая мертвецов против ещё живых существ.
                                            Ему суждено было стать глашатаем Мертвого бога. Его новая цель — восстать,
                                            пасть и восстать вновь, лишь бы песнь смерти не прекращалась ни на миг.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/Warlock_wallpaper.jpg" alt="10 slide">
                            <div class="card">
                                <div class="card-body">
                                    <div align="left">
                                        <h2 align="middle">Warlock</h2><hr>
                                        <p>
                                            Будучи ректором и главой отдела реликвий в скрытых архивах Ультимирской академии,
                                            Дэмнок Лэнник неустанно искал затерянные, редкие и запретные тома. Ни проклятые храмы,
                                            ни коварные пещерные ходы — ничто не заставило бы Дэмнока свернуть с тропы, стоило
                                            ему прознать, что, быть может, в конце пути он найдет хотя бы жалкий кусочек свитка
                                            с древними знаниями. И так часто приходилось ему сталкиваться с сущностями, оставленными                           защищать эти древние знания, что он наконец посчитал необходимым изучить таинства
                                            магии. С такой же одержимостью принялся Дэмнок за учение, с какой отправлялся в
                                            опаснейшие походы за записями — и превзошёл всех чернокнижников Ультимирской академии
                                            за время, которого остальным хватило бы, лишь чтобы изучить самые основы. В последнюю
                                            очередь он вырезал себе посох из дредвудского дерева и заточил в него духа из Глубин
                                            Ада. И, ожидая дня, когда он найдёт последнюю затерянную книгу заклинаний, Дэмнок
                                            приступил к своему собственному произведению — Чёрному гримуару. Сомнений нет: он
                                            будет весьма поучительным.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/Wraith_King_wallpaper.png" alt="11 slide">
                            <div class="card">
                                <div class="card-body">
                                    <div align="left">
                                        <h2 align="middle">Wraith King</h2><hr>
                                        <p>
                                            Бессчётные годы Остарион строил королевство на останках своих врагов. То была
                                            навязчивая привычка, в которой монарх коротал вечное, будто бы нескончаемое
                                            правление. Он считал, что будет жить вечно, покуда башни его дворца продолжают
                                            стремиться ввысь. Но со временем он осознал, что заблуждался... Что даже кости
                                            однажды обратятся в прах. Не веря плоти, он искал надёжный способ продлить
                                            своё правление, и в конце концов заключил: ему нужна была энергия призраков,
                                            форма чистого духа, которую некоторые тёмные души выделяют в миг смерти.
                                            Остарион надеялся вселить в себя призрачное естество и этим обрести лик
                                            столь же ясный и вечный, как его самолюбие. В Ночь призраков, солнцестояние
                                            на границе веков, он погрузился в обряд превращения и приказал подданным
                                            собрать достаточно душ, дабы он обрёл желанное бессмертие.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/Bloodseeker_wallpaper.png" alt="12 slide">
                            <div class="card">
                                <div class="card-body">
                                    <div align="left">
                                        <h2 align="middle">Bloodseeker</h2><hr>
                                        <p>
                                            Стригвир — прошедший ритуалы охотник; гончая Бескожих близнецов,                           отправленная с туманных вершин Ксакатокатля на поиски крови. Чтоб насытить
                                            близнецов, нужны поистине океаны жизненных соков, и горная империя уж давно
                                            бы опустела, не сумей жрецы с верхних плато задобрить богов. Посему Стригвир
                                            рыщет по миру в поисках кровавых битв. Жизненная энергия любой пролитой
                                            им крови тут же передаётся Бескожим близнецам через священные знаки на его
                                            оружии и броне. Прошли многие годы, а Стригвир всё ещё неустанен, как
                                            бешеный пёс, и свиреп в бою, как ненасытный шакал. Говорят, что в
                                            кровопролитном бою под его маской можно разглядеть черты самих близнецов,
                                            лично направляющих свою гончую.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a style="margin-top: -25rem;" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a style="margin-top: -25rem;" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div><br><br>

    <!-- Список геров -->
    <h2 align="middle" style="margin-bottom: 2rem;">Таблица героев</h2>
    <div class="container" style="padding: 2rem;">

        <!-- 1 строка -->
        <div class="container" style="padding: 0.5rem;">
            <div class="row">
                <hr>
                <div class="col-3">
                    <div class="holder">
                        <img src="img/Clinkz_icon.png" alt="Clinkz_icon">
                        <div class="block">
                            <h3>Характеристики:</h3>
                            Сила: 14 +2.2<br>
                            <b>Ловкость: 22 +2.7</b><br>
                            Интеллект: 18 +2.2<br>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="holder">
                        <img src="img/Underlord_icon.png" alt="Underlord_icon">
                        <div class="block">
                            <h3>Характеристики:</h3>
                            <b>Сила: 25 +3.0</b><br>
                            Ловкость: 12 +1.6<br>
                            Интеллект: 17 +2.3<br>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="holder">
                        <img src="img/Spectre_icon.png" alt="Spectre_icon">
                        <div class="block">
                            <h3>Характеристики:</h3>
                            Сила: 23 +2.5<br>
                            <b>Ловкость: 23 +2.1</b><br>
                            Интеллект: 16 +1.9<br>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="holder">
                        <img src="img/Zeus_icon.png" alt="Zeus_icon">
                        <div class="block">
                            <h3>Характеристики:</h3>
                            Сила: 19 +2.1<br>
                            Ловкость: 11 +1.2<br>
                            <b>Интеллект: 22 +3.3</b><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2 строка -->
        <div class="container" style="padding: 0.5rem;">
            <div class="row">
                <hr>
                <div class="col-3">
                    <div class="holder">
                        <img src="img/Ogre_Magi_icon.png" alt="Ogre_Magi_icon">
                        <div class="block">
                            <h3>Характеристики:</h3>
                            Сила: 23 +3.5<br>
                            Ловкость: 14 +1.5<br>
                            <b>Интеллект: 15 +2.5</b><br>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="holder">
                        <img src="img/Arc_Warden_icon.png" alt="Arc_Warden_icon">
                        <div class="block">
                            <h3>Характеристики:</h3>
                            Сила: 25 +3.0<br>
                            <b>Ловкость: 16 +2.5</b><br>
                            Интеллект: 24 +2.6<br>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="holder">
                        <img src="img/Night_Stalker_icon.png" alt="Night_Stalker_icon">
                        <div class="block">
                            <h3>Характеристики:</h3>
                            <b>Сила: 23 +3.0</b><br>
                            Ловкость: 18 +2.3<br>
                            Интеллект: 15 +1.6<br>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="holder">
                        <img src="img/Dark_Seer_icon.png" alt="Dark_Seer_icon">
                        <div class="block">
                            <h3>Характеристики:</h3>
                            Сила: 20 +3.1<br>
                            Ловкость: 18 +1.8<br>
                            <b>Интеллект: 21 +3.1</b><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3 строка -->
        <div class="container" style="padding: 0.5rem;">
            <div class="row">
                <hr>
                <div class="col-3">
                    <div class="holder">
                        <img src="img/Undying_icon.png" alt="Undying_icon">
                        <div class="block">
                            <h3>Характеристики:</h3>
                            <b>Сила: 22 +2.8</b><br>
                            Ловкость: 10 +0.8<br>
                            Интеллект: 27 +2.8<br>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="holder">
                        <img src="img/Warlock_icon.png" alt="Warlock_icon">
                        <div class="block">
                            <h3>Характеристики:</h3>
                            Сила: 26 +3.0<br>
                            Ловкость: 10 +1.0<br>
                            <b>Интеллект: 25 +3.1</b><br>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="holder">
                        <img src="img/Wraith_King_icon.png" alt="Wraith_King_icon">
                        <div class="block">
                            <h3>Характеристики:</h3>
                            <b>Сила: 22 +3.0</b><br>
                            Ловкость: 18 +1.7<br>
                            Интеллект: 18 +1.6<br>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="holder">
                        <img src="img/Bloodseeker_icon.png" alt="Bloodseeker_icon">
                        <div class="block">
                            <h3>Характеристики:</h3>
                            Сила: 24 +2.7<br>
                            <b>Ловкость: 22 +3.4</b><br>
                            Интеллект: 21 +2.0<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

