    @page
@model SemestreWork.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<!-- main -->
    <main class="main align-self-center">
      
    <div class="container">
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <h2 align="middle">Последние обновления</h2>
                <hr>

                
                @for(int i=Model.newsList.Count-1;i>=0;i--) 
                {

                    <div class="card">
                        <a class="nav-link" href="/News/@Model.newsList[i].Id">
                            <img src="@Model.newsList[i].Picture" alt="dotaplus" width="100%">
                        </a>
                        <div class="card-body">
                            <h4 align="middle">@Model.newsList[i].Name</h4>
                            <p>
                                @Model.newsList[i].Intro
                            </p>
                        </div>
                    </div>
                    <br />
                    <br />
                  
                }
                <form method="post">
                    <h4>
                        <span>Please Enter New Post Details!!!</span>
                    </h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div class="col-md-12" style="margin-top:15px;">
                                            <label asp-for="news.Name" style="font-weight:bold;"></label>
                                            <input type='text' class='form-control' asp-for="news.Name" />
                                            <span class="alert-danger" asp-validation-for="news.Name"></span>
                                        </div>
                                        <div class="col-md-12" style="margin-top:15px;">
                                            <label asp-for="news.Intro" style="font-weight:bold;"></label>
                                            <textarea type='text' class='form-control' asp-for="news.Intro"></textarea>
                                            <span class="alert-danger" asp-validation-for="news.Intro"></span>
                                        </div>
                                        <div class="col-md-12" style="margin-top:15px;">
                                            <label asp-for="news.Text" style="font-weight:bold;"></label>
                                            <textarea type='text' class='form-control' asp-for="news.Text"></textarea> 
                                            <span class="alert-danger" asp-validation-for="news.Text"></span>
                                        </div>
                                        <div class="col-md-12" style="margin-top:15px;">
                                            <label asp-for="news.Picture" style="font-weight:bold;"></label>
                                            <input type='text' class='form-control' asp-for="news.Picture" />
                                            <span class="alert-danger" asp-validation-for="news.Picture"></span>
                                        </div>

                                        <div class="text-center col-md-12" style="margin-top:35px;">
                                            <button class="btn btn-primary btn-sx" type="submit"><i class="glyphicon glyphicon-plus"></i> Add Post</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-2"></div>
            </div>
    </div>
    </main>


