@page
@model SemestreWork.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<!-- main -->
    <main class="main align-self-center">
        @foreach (var item in Model.newsList)
        {
        <div>
            @item.Text
        </div>
        }
    <div class="container">
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <h2 align="middle">Последние обновления</h2>
                <hr>
                <div class="card">
                    <a class="nav-link" href="news1.html">
                        <img src="img/dotaplus.png" alt="dotaplus" width="100%">
                    </a>
                    <div class="card-body">
                        <h4 align="middle">Обновление для Dota Plus</h4>
                        <p>
                            Вышел осенний сезон Dota Plus. Сброс рейтинга будет опциональным
                            Разработчики выпустили обновление для Dota Plus, в котором предоставили
                            игрокам возможность купить новую сокровищницу и сбросить свой рейтинг.
                            Valve рассказала о нововведениях и назвала примерные сроки выхода новых героев в своем блоге.
                        </p>
                    </div>
                </div>
                <div class="card" style="margin-top: 3rem;">
                    <a class="nav-link" href="news2.html">
                        <img src="img/727d.jpg" alt="7.27d" width="100%">
                    </a>
                    <div class="card-body">
                        <h4 align="middle">Обновление 7.27d</h4>
                        <p>
                            Утром 27 августа разработчики выпустили патч 7.27d для Dota 2.
                            Изменения коснулись некоторых предметов и ряда героев, в том числе
                            Spectre и Faceless Void.
                        </p>
                    </div>
                </div>
                <div class="card" style="margin-top: 3rem;">
                    <a class="nav-link" href="news3.html">
                        <img src="img/727c.jpg" alt="7.27c" width="100%">
                    </a>
                    <div class="card-body">
                        <h4 align="middle">Обновление 7.27c</h4>
                        <p>
                            Утром 18 июля разработчики выпустили патч 7.27c для Dota 2.
                            В обновлении усилили Bloodseeker и ослабили Clinkz и Underlord.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-2"></div>
        </div>
    </div>
    </main>


