@page
@model SemestreWork.Pages.MetaModel
@{
    ViewData["Title"] = "Meta";
}

<!-- main -->
    <main class="main align-self-center">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    @Html.Raw(Model.metaPost.Text)
                    @using SemestreWork.Models;
                    @if (HttpContext.Session.Get<string>("AuthReady") == "true")
                    {
                        @if (HttpContext.Session.Get<RegisterModel>("AuthUser").Role.ToString() == "Admin")
                        {
                            <form method="post">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <div class="col-md-12" style="margin-top:15px;">
                                                        <input asp-for="metaPost.Id" type="hidden" />
                                                        <label asp-for="metaPost.Text" style="font-weight:bold;"></label>
                                                        <textarea style="width:600px; height:150px;" type='text' class='form-control' asp-for="metaPost.Text"></textarea>
                                                        <span class="alert-danger" asp-validation-for="metaPost.Text"></span>
                                                    </div>
                                                    <div class="text-center col-md-12" style="margin-top:35px;">
                                                        <button class="btn btn-primary btn-sx" type="submit"><i class="glyphicon glyphicon-plus"></i> Edit Post</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            }
                        }
                        </div>
            </div><br><br>
                 
            <div class="card">
                <div class="card-body">

                    <h3>Наибольшая доля побед в этом месяце</h3><hr>
                    @Html.Raw(@Model.metaTable)
                    <br><br><br>

                    <style>
                        table.iksweb {
                            text-decoration: none;
                            border-collapse: collapse;
                            width: 100%;
                            text-align: center;
                        }

                            table.iksweb th {
                                font-weight: 500;
                                font-size: 18px;
                                color: #ffffff;
                                background-color: #354251;
                            }

                            table.iksweb td {
                                font-size: 15px;
                                color: #354251;
                            }

                            table.iksweb td, table.iksweb th {
                                white-space: pre-wrap;
                                padding: 14px 12px;
                                line-height: 15px;
                                vertical-align: middle;
                                border: 2px solid #354251;
                            }

                            table.iksweb tr:hover {
                                background-color: #f9fafb
                            }

                                table.iksweb tr:hover td {
                                    color: #354251;
                                    cursor: default;
                                }

                        .mobile-table {
                            width: 100%;
                            max-width: 100%;
                            overflow-x: auto;
                        }
                    </style>

                </div>
            </div><br><br>

            <div class="col-1"></div>
        </div>
        </div>
    </main>

