@page
@model SemestreWork.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<!-- main -->
<main class="main align-self-center">
    <div class="container">
        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="content" class="content content-full-width">

                            <!-- Profile Тут нужна логика, аватарку откуда брать, никнем юзера и т.д  -->
                            <div class="profile">
                                <div class="profile-header">
                                    <div class="profile-header-cover"></div>
                                    <div class="profile-header-content">

                                        <div class="profile-header-img">
                                            <img src="img\noavatar.png" alt="Your avatar"> <!-- Ну тут изначально без аватара картинка -->
                                        </div> <!-- А после редактирования профиля, можно будет загрузить аватар -->

                                        <div class="profile-header-info">
                                            <h4 class="m-t-10 m-b-5">BANGLADESH</h4> <!-- Ну тут никнейм (псевдоним) от айдишника -->
                                            <p class="m-b-10">2000 ммр, любимый герой: Bloodseeker</p> <!-- Тут инфа, которую указал юзер при регистрации -->
                                            <a data-toggle="modal" data-target="#ModalEdit" class="btn btn-sm btn-info mb-2" style="width: auto;">
                                                Редактировать профиль
                                            </a>
                                        </div>

                                    </div>
                                    <ul class="profile-header-tab nav nav-tabs">
                                        <li class="nav-item">
                                            <a style="font-size: 18px" href="#profile-post" class="nav-link active show"
                                               data-toggle="tab">Посты:</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-2"></div>

                                    <div class="col-8">

                                        <h2 align="middle" style="margin-top: 2rem;">Редактор постов</h2>

                                        <form action="#" method="POST" name="post_form" id="post_form"
                                              data-form-type="candbox">
                                            <div class="item title required" style="margin-left: 1.5rem; margin-top: 1rem;">
                                                <label for="title">
                                                    Заголовок:
                                                    </lable>
                                                    <input type="text" name="title" value>
                                            </div>

                                            <div class="item text">
                                                <label style="margin-left: 2.5rem;">Текст:</label>
                                                <div class="tm-editor" id="editor-tabs" data-component="tm-editor">
                                                    <form enctype="multipart/form-data" method="post">
                                                        <p><input style="margin-left: 2.5rem;" onclick="habraWYG2.insertImage(this);" type="file" name="photo" multiple accept="image/*,image/jpeg">
                                                    </form>

                                                    <div id="editor-tab" class="tm-editor__pane tm-editor__pane_content active js-tab-pane">
                                                        <ul class="tm-editor__toolbar tm-editor__toolbar_tabbed wysiwyg-toolbar">
                                                            <script>
                                  $(document).ready(function(){
                                    $(document).trigger('hljsUpdate');
                                  });
                                                            </script>

                                                            <div class="tm-editor__textarea-wrap js-scrollable" tabindex="0">
                                                                <textarea class="tm-editor__textarea tm-editor__textarea_huge"
                                                                          cols="30" rows="7" id="text_textarea" name="text"></textarea>
                                                            </div>
                                                            <div class="tm-editor__footer">
                                                                <label class="сm-editor__footer-checkbox">
                                                                    <input type="checkbox" name="userformat" id="userformat">
                                                                    <span>Отключить автоматические переносы строк и создание ссылок</span>
                                                                </label>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <input type="submit" class="btn btn_huge btn_green" name="submit"
                                               value="Опубликовать" style="width: auto; margin-left: 35rem;">
                                    </div>

                                    <div class="col-2"></div>
                                </div>
                            </div><hr>

                            <!-- Profile content -->
                            <div class="profile-content" style="margin-top: 2rem;">
                                <div class="tab-content p-0">
                                    <div class="tab-pane fade active show" id="profile-post">
                                        <ul class="timeline">
                                            <li>
                                                <div class="timeline-time">
                                                    <span class="date">Сегодня</span> <!-- Нужна логика для даты -->
                                                    <span class="time">13:54</span> <!-- Нужна логика для времени -->
                                                </div>
                                                <div class="timeline-icon">
                                                    <a href="javascript:;">&nbsp;</a>
                                                </div>
                                                <div class="timeline-body">
                                                    <div class="timeline-header">
                                                        <span class="userimage">
                                                            <img src="img\noavatar.png" alt="Your avatar">
                                                        </span>
                                                        <span class="username">
                                                            <a href="javascript:;">Dias Bolatov</a> <!-- Ну тут никнейм (псевдоним) от айдишника -->
                                                            <small></small>
                                                        </span>
                                                    </div>
                                                    <div class="timeline-content">
                                                        <p style="font-size: 18px">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis tincidunt luctus.
                                                            Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                                                        </p>
                                                    </div>

                                                    <!-- Количество лайков и комментариев поста -->
                                                    <div class="timeline-likes">
                                                        <div class="stats-right" style="font-size: 15px">
                                                            <span class="stats-text">1 Комментарий</span>
                                                        </div>
                                                        <div class="stats">
                                                            <span class="fa-stack fa-fw stats-icon">
                                                                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                                <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                                            </span>
                                                            <span class="fa-stack fa-fw stats-icon">
                                                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                                <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                                            </span>
                                                            <span class="stats-total" style="font-size: 20px">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="timeline-footer">
                                                        <a href="javascript:;" class="m-r-15 text-inverse-lighter">
                                                            <i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Лайк
                                                        </a>
                                                        <a href="javascript:;" class="m-r-15 text-inverse-lighter">
                                                            <i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Комментарии
                                                        </a>
                                                    </div>

                                                    <!-- Комментарий -->
                                                    <div class="timeline-comment-box">
                                                        <div class="user">
                                                            <img src="img\noavatar.png" alt="Your avatar">
                                                        </div>
                                                        <div class="input">
                                                            <form action="">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control rounded-corner" placeholder="Напишите что-нибудь...">
                                                                    <span class="input-group-btn p-l-10">
                                                                        <button style="margin-left: 1rem;" class="btn btn-primary f-s-12 rounded-corner" type="button">
                                                                            Отправить
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>

                                            <!-- Прокрутка вниз с загрузкой поста -->
                                            <li>
                                                <div class="timeline-icon">
                                                    <a href="javascript:;">&nbsp;</a>
                                                </div>
                                                <div class="timeline-body">
                                                    Загрузка...
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

