@page
@model SemestreWork.Pages.RegistrationModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" conыtent="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="CSS\style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="shortcut icon" href="img/Logo.png" type="image/png">
    <title>Регистрация</title>
</head>

<body>

    <!-- Навигация -->
    <nav class="navbar navbar-expand-md navbar-inverse navbar-fixed-top
    navbar-dark justify-content-center" id="nav1">
        <a class="navbar-brand" href="/Home"
           style="margin-left: 6rem;">
            <stroke style="font: 25px 'Raleway', sans-serif;
        text-shadow: 1px 1px 2px black, 0 0 1em #FF00FF;">AnyMeta</stroke>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home" style="margin-left: 1.2rem;">Домой</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link py-2 d-none d-md-inline-block" href="/About">Подробно</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- main -->
    <main class="main align-self-center" align="middle"
          style="padding-top: 0rem; padding-bottom: 0rem; margin-left: 0rem;">
        <ul class="body_slides">
            <li><img src="img/sven_wallpaper.jpg" alt="sven" width="100%"></li>
            <li><img src="img/pa_wallpaper.jpg" alt="pa" width="100%"></li>
            <li><img src="img/rubick_wallpaper.jpg" alt="rubick" width="100%"></li>
        </ul>

        <div class="container" align="left">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="card" style="margin-top: 7rem;">
                        <div class="card-header">
                            <div align="middle" class="h4">Регистрация:</div>
                        </div>
                        <div class="card-body">

                            <form name="auth" method="POST">
                                <div class="form-row">

                                    <div class="form-group col-md-6">
                                        <label for="exampleInputNickname">Псевдоним:</label>
                                        <input asp-for="user.Nick" type="text" class="form-control" id="exampleInputNickname"
                                               pattern="^(?!.*\.\.)(?!\.)(?!.*\.$)(?!\d+$)[a-zA-Z0-9.]{5,15}$" placeholder="Введите псевдоним...">
                                        <span class="alert-danger" asp-validation-for="user.Nick"></span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="exampleInputEmail1">Почта:</label>
                                        <input asp-for="user.Email" required="" type="email" class="form-control" id="exampleInputEmail1"
                                               placeholder="Введите почту...">
                                        <span class="alert-danger" asp-validation-for="user.Email"></span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="exampleInputHero">Ваш любимый герой:</label>
                                        <select asp-for="user.Hero" class="form-control"><option>Любые</option><option>Другие</option><option >Abaddon</option><option>Alchemist</option><option>Ancient Apparition</option><option >Anti-Mage</option><option>Arc Warden</option><option>Axe</option><option >Bane</option><option>Batrider</option><option >Beastmaster</option><option >Bloodseeker</option><option >Bounty Hunter</option><option >Brewmaster</option><option >Bristleback</option><option >Broodmother</option><option >Centaur Warrunner</option><option >Chaos Knight</option><option>Chen</option><option >Clinkz</option><option >Clockwerk</option><option>Crystal Maiden</option><option>Dark Seer</option><option >Dark Willow</option><option >Dazzle</option><option >Death Prophet</option><option >Disruptor</option><option >Doom</option><option >Dragon Knight</option><option >Drow Ranger</option><option >Earth Spirit</option><option>Earthshaker</option><option >Elder Titan</option><option >Ember Spirit</option><option >Enchantress</option><option >Enigma</option><option >Faceless Void</option><option>Grimstroke</option><option >Gyrocopter</option><option >Huskar</option><option >Invoker</option><option >Jakiro</option><option >Juggernaut</option><option >Keeper of the Light</option><option >Kunkka</option><option >Legion Commander</option><option >Leshrac</option><option >Lich</option><option >Lifestealer</option><option >Lina</option><option>Lion</option><option >Lone Druid</option><option >Luna</option><option>Lycan</option><option >Magnus</option><option>Mars</option><option >Medusa</option><option >Meepo</option><option >Mirana</option><option >Monkey King</option><option >Morphling</option><option >Naga Siren</option><option>Natures Prophet</option><option>Necrophos</option><option>Night Stalker</option><option >Nyx Assassin</option><option >Ogre Magi</option><option  >Omniknight</option><option >Oracle</option><option  >Outworld Devourer</option><option  >Pangolier</option><option >Phantom Assassin</option><option >Phantom Lancer</option><option >Phoenix</option><option >Puck</option><option >Pudge</option><option >Pugna</option><option>Queen of Pain</option><option >Razor</option><option >Riki</option><option >Rubick</option><option >Sand King</option><option  >Shadow Demon</option><option >Shadow Fiend</option><option >Shadow Shaman</option><option  >Silencer</option><option >Skywrath Mage</option><option >Slardar</option><option >Slark</option><option >Snapfire</option><option >Sniper</option><option >Spectre</option><option >Spirit Breaker</option><option >Storm Spirit</option><option>Sven</option><option >Techies</option><option  >Templar Assassin</option><option  >Terrorblade</option><option  >Tidehunter</option><option >Timbersaw</option><option >Tinker</option><option   >Tiny</option><option >Treant Protector</option><option  >Troll Warlord</option><option  >Tusk</option><option  >Underlord</option><option  >Undying</option><option  >Ursa</option><option  >Vengeful Spirit</option><option  >Venomancer</option><option >Viper</option><option  >Visage</option><option  >Warlock</option><option  >Weaver</option><option  >Windranger</option><option  >Winter Wyvern</option><option>Witch Doctor</option><option  >Wraith King</option><option>Zeus</option></select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="InputPassword">Пароль:</label>
                                        <input asp-for="user.Password" type="password" class="form-control" pattern="(?=^.{6,}$)(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z]).*" placeholder="Введите пароль..."
                                               title="Должно содержать по крайней мере одно число, одну заглавную и строчную буквы, а также не менее 6 и более символов">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputHero">Ваш рейтинг:</label>
                                        <select asp-for="user.MMR" id="exampleInputHero" class="form-control">
                                            <option selected>Выберите...</option>
                                            <option>< 1000 ММР</option>
                                            <option>1000-2000 ММР</option>
                                            <option>2000-3000 ММР</option>
                                            <option>3000-4000 ММР</option>
                                            <option>4000-5000 ММР</option>
                                            <option>5000-6000 ММР</option>
                                            <option>> 6000 ММР</option>
                                        </select>
                                    </div>

                                    <br>

                                    <div class="form-group col-md-12">
                                        <hr>
                                        <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

</body>
</html>

