<!doctype html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" conыtent="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="shortcut icon" href="~/img/Logo.png" type="image/png">
    <title>Главная</title>
</head>

<body>

    <!-- Навигация -->
    <nav class="navbar navbar-expand-md navbar-inverse navbar-fixed-top
    navbar-dark justify-content-center" id="nav1">
        <a class="navbar-brand" href="/Home"
           style="margin-left: 6rem;">
            <stroke style="font: 25px 'Raleway', sans-serif;
        text-shadow: 1px 1px 2px black, 0 0 1em #FF00FF;">AnyMeta</stroke>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home" style="margin-left: 1.2rem;">Домой</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link py-2 d-none d-md-inline-block" href="/About">Подробно</a>
                </li>
            </ul>
            <button type="button" class="btn btn-outline-primary" id="authorization"
                    data-toggle="modal" data-target="#myModal">
                Авторизация
            </button>
            <button type="button" onclick="document.location='/Registration'"
                    class="btn btn-primary" id="registration"
                    style="margin-right: 7rem;">
                Регистрация
            </button>
        </div>
    </nav>

    <!-- Header -->
    <header class="header">
        <nav class="navbar navbar-expand-md navbar-inverse navbar-fixed-top
      navbar-dark justify-content-center" id="nav2">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home">Главная</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Meta">Мета</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Heroes">Герои</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Cybersport">Киберспорт</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Forum">Форум</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/About">О проекте</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Авторизация -->
    <!-- <a>class="btn btn-danger btn-lg" href="/logout">Выйти</a> -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="container">
                <div class="col-12">
                    <div class="modal-content">
                        <div class="modal-header align-self-center">
                            <div class="h4">Авторизация:</div>
                        </div>
                        <div class="modal-body">
                            <form name="auth" method="POST">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Почта:</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                           aria-describedby="emailHelp" placeholder="Введите почту">
                                    <small id="emailHelp" class="form-text text-muted" style="margin-left: 1rem;">
                                        Мы никогда никому не передадим вашу электронную почту
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="InputPassword" id="pass">Пароль</label>
                                    <input type="password" class="form-control"
                                           id="InputPassword" placeholder="Введите пароль">
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input"
                                           id="exampleCheck" style="margin-top: 0.45rem;">
                                    <label class="form-check-label" for="exampleCheck" style="margin-left: 1.1rem;">
                                        Запомнить меня
                                    </label>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-1"></div>

                <div class="col-md-5 mt-md-0 mt-3">
                    <h5 class="text-uppercase font-weight-bold">О проекте</h5>
                    <p>
                        AnyMeta — многоцелевой сайт, на котором собрана статистика побед и героев,
                        а также последние новости из игры, обновлений, мира киберспорта и многое другое.
                        Также имеется таблица героев и мета-отчёт.
                    </p>
                </div>

                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-5 mb-md-0 mb-3">
                    <h5 class="text-uppercase font-weight-bold">Разработчики</h5>
                    <address>
                        <b>КФУ, ИТИС</b><br>
                        Адрес: ул. Кремлевская, 35, Казань, Респ. Татарстан, 420008<br>
                        Номер: 233-79-91
                    </address>
                </div>

                <div class="col-1"></div>

            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright: &nbsp
            <a href="/Home">AnyMeta.ru</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

</body>
</html>
